<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dedaulus.cinematty"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:name="CinemattyApplication" android:label="Cinematty" android:icon="@drawable/icon">
        <activity
            android:name=".activities.StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.CinemaListActivity" android:label="Кинотеатры"/>
        <activity android:name=".activities.MovieListActivity" android:label="Фильмы"/>
        <activity android:name=".activities.MovieActivity" android:label="Фильм"/>
        <activity android:name=".activities.ActorListActivity" android:label="Актёры"/>
        <activity android:name=".activities.GenreListActivity" android:label="Жанры"/>
        <activity android:name=".activities.CinemaActivity" android:label="Кинотеатр"/>
        <activity android:name=".activities.MainActivity" android:label="ГдеКИНО"/>
        <activity android:name=".activities.CityListActivity" android:label="Города"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="8"/>

</manifest> 
