<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dedaulus.cinematty"
          android:installLocation="auto"
          android:versionCode="33"
          android:versionName="@string/app_version">

    <application android:name="CinemattyApplication"
                 android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:theme="@style/CustomActionBar"
                 android:uiOptions="splitActionBarWhenNarrow"
                 android:hardwareAccelerated="true">

        <uses-library android:name="com.google.android.maps"/>

        <activity android:name=".activities.StartupActivity"
                  android:theme="@android:style/Theme.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".activities.MainActivity"
                  android:theme="@style/StyledIndicators">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".activities.SearchableActivity"/>
        </activity>

        <activity android:name=".activities.MovieListActivity">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".activities.SearchableActivity"/>
        </activity>

        <activity android:name=".activities.CinemaActivity"
                  android:theme="@style/StyledIndicators">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".activities.SearchableActivity"/>
        </activity>

        <activity android:name=".activities.MovieActivity"
                  android:theme="@style/StyledIndicators">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".activities.SearchableActivity"/>
        </activity>

        <activity android:name=".activities.ActorListActivity">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".activities.SearchableActivity"/>
        </activity>

        <activity android:name=".activities.GenreListActivity">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".activities.SearchableActivity"/>
        </activity>

        <activity android:name=".activities.CityListActivity"/>

        <activity android:name=".activities.AboutActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>

        <activity android:name=".activities.SearchableActivity"
                  android:launchMode="singleTop"
                  android:label="Результаты поиска">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".activities.CinemaMapView"/>

        <activity android:name=".activities.PreferencesActivity" android:label="Настройки"/>

        <activity android:name=".activities.FramesActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="landscape"/>

        <provider android:name="com.dedaulus.cinematty.framework.SearchSuggestionsProvider"
                  android:authorities="com.dedaulus.cinematty.provider"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="15"/>

</manifest> 
